{% load static %}
<!-- produto Section Start -->
    <section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Portfolio</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <div class="portfolio-item wow fadeInRight" data-wow-delay="0.2s">
                 <div class="portfolio-img">
                <img class="img-fluid" src="{% static 'img/portfolio/img1.jpg' %}" alt="">
                 </div>
                <div class="text">
                  <h4>Titulo Categoria</h4>
                </div>
              </div>
    </section>
    <!-- Features Section End -->