{% load static %}
 <!-- Produtos section Start -->
    <section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Produtos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">$Aqui fica o preco<span> /mo</span></p>
              </div>
              <div class="title">
                <h3>Nome do produto</h3>
              </div>
              <ul class="description">
                <li>Aqui Fica uma descricao do produto</li>

              </ul>
              <button class="btn btn-common">Compre agora</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">


        </div>
      </div>
    </section>
    <!-- Pricing Table Section End -->