{% load static %}
 <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">

        <div class="row">
   <!-- Services item -->
            <div class="services-content">
              <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Serviços</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-cog"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Nome servico</a></h3>
                <p>Descricao do serviço </p>
              </div>
            </div>
          </div>
          <!-- Services item --></div>
      </div>
    </section>
    <!-- Services Section End -->

